body {
	background: #eee;
	font-family: sans-serif;
	font-size: 16px;
}

.card {
	width: 500px;
	background: #fff;
	margin: 20px auto;
	padding: 10px;
}

.title {
	background: #e3f4ff;
	padding: 10px;
	margin-bottom: 10px;
}

.content {
	padding: 20px 10px;
	background: #e3f4ff;
}

.button-container {
	text-align: center;
	background: #e3f4ff;
	margin-top: 10px;
	padding-bottom: 10px;
}

button {
	background: white;
	border: 1px solid #eee;
	display: block;
	margin: auto;
	padding: 10px 20px;
}
