body {
	font-family: Arial, Helvetica, sans-serif;
}
.para {
	font-size: 30px;
	color: black;
	font-weight: 800;
}

.para.small-para {
	font-size: 16px;
}

.button {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-size: 20px;
}
.button.confirm {
	background: green;
	color: white;
	font-weight: bold;
}

div {
	color: rgb(0, 0, 0);
	font-size: 22px;
	font-weight: 100;
}

.text.child {
	font-weight: bold;
}
